/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
#app {
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding: 0;
  text-align: center;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  text-align: center;
  background-color: #b0c4de;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
H1 {
  margin: 8px auto;
  font-size: 1.75rem;
  padding:0 8px 8px;
}
button {
  font-size: 1rem;
  margin: 5px;
  min-width: 110px;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding: 8px;
  line-height: 1;
  border-radius: none;
  margin-top: 0;
  border: none;
}
textarea:focus {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}
.description {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 16px;
  color: #000;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 94%;
  font-weight: normal;
  font-size: 1rem;
  background-color: #d0e0f5;
}
.topframe {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: none;
  margin: 0 auto;
}
.display {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 10px;
  height: 200px;
  overflow: hidden;
  padding-top: 30px;
  color: currentColor;
  font-size: 1.5rem;
}
.topframe-spacer {
  background-color: #d0e0f5;
  width: 94%;
  height: 8px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.trigger-btns {
  background-color: #d0e0f5;
  width: 94%;
  text-align: center;
  margin: 0 auto;
  padding:16px 8px;
}
.suggestions {
  margin: 0 auto;
  padding: 0 8px 16px 8px;
  width: 94%;
  background-color: #d0e0f5;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.showspace {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  position: relative;
}
.showspace-tile {
  border-radius: 12px;
  padding: 8px;
  margin: 16px 8px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  color: #000;
  background-color: rgba(161, 138, 184, .5);
}
@media (min-width: 480px) {
  #app {
    padding: 8px;
  }
  H1 {
    font-size: 2rem;
    padding: 0 16px 16px;
  }
  textarea {
    max-width: 1440px;
    max-width: 87%;
    min-width: 87%;
    padding: 16px;
    border-radius: 10px;
  }
  .description {
    padding: 16px;
    width: 87%;
  }
  .topframe {
    border-radius: 12px;
    width: 90%;
  }
  .display {
    font-size: 2rem;
  }
  .suggestions {
    padding: 0 16px 16px 16px;
    width: 84%;
  }
  .topframe-spacer {
    width: 84%;
  }
  .trigger-btns {
    width: 84%;
    padding: 8px;
  }
  .showspace {
    width: 100%;
    max-width: 1440px;
  }
  .showspace-tile {
    padding: 16px;
    width: 40%;
    margin: 15px;
  }
}

