/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-border-color: #DEB887;
  --sub-border-color: rgba(133, 97, 163, 0.29);

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
#app {
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding: 0;
  text-align: center;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background-image: linear-gradient(#b0c4de 5%, rgba(40,80,130,.5) 70%);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  text-align: center;
  background-color: #b0c4de;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
H1 {
  margin: 8px auto;
  font-size: clamp(.75rem, 5vw, 3.5rem);
  padding:0 8px 8px;
  background: -webkit-linear-gradient(rgba(0,0,0,.75) 25%, #0ff 42%, #000 53%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, .3), 0 -1px 1px rgba(255, 255, 255, .3);
}
button {
  font-size: 1rem;
  margin: 5px;
  min-width: 110px;
}
.mainFrame__input {
  max-width: 47%;
  min-width: 77%;
  padding: 16px;
  border-radius: 10px;
  margin: 16px;
  width: 100%;
  padding: 8px;
  line-height: 1;
  border-radius: none;
  margin-top: 0;
  border: none;
}
.mainFrame__input:focus {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}
.description {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 16px;
  color: #000;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 94%;
  font-weight: normal;
  font-size: 1rem;
  background-color: #d0e0f5;
  border-top: 4px solid var(--main-border-color);
  border-right: 4px solid var(--main-border-color);
  border-left: 4px solid var(--main-border-color);
}
.mainFrame {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fefefe;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 22px;
  margin: 0 auto;
  border: 12px double var(--main-border-color);
  box-shadow: 5px 5px 10px -3px inset rgba(0,0,0,.5);
}
.display {
  margin: 0 auto;
  padding: 15px;
  height: 200px;
  overflow: hidden;
  padding-top: 30px;
  color: currentColor;
  font-size: 5vw;
}
.mainFrame__fontsize {
  position: absolute;
  z-index: 64;
  font-size: .75rem;
  right: -9px;
  top: -33px;
  border-radius: 10px;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #777;
}
.mainFrame__fontsize:hover {
  color: #2c3e50;
}
.mainFrame__fontsize span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}
.mainFrame__content {
  background-color: #d0e0f5;
  width: 94%;
  position: relative;
  display: block;
  margin: 0 auto;
  border-left: 4px solid var(--main-border-color);
  border-right: 4px solid var(--main-border-color);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom: 4px solid var(--main-border-color);
}
.effect__description {
  padding: 16px;
  margin: 8px 16px;
  background-color: rgba(0,0,0,.075);
  border-radius: 8px;
  text-align: left;
  font-size: .75rem;
}
.mainFrame__suggestions {
  margin: 8px auto;
  padding: 16px 8px;
  width: 94%;
  
  button {
    display: inline-block;
  }
}
.showspace {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  position: relative;
}

.showspace__tile {
  display: inline-block;
  padding: 8px;
  margin: 16px 8px;
  width: calc(100% - 8px);
  text-align: left;
  color: #000;
  border-radius: 12px;
  border: 3px solid var(--sub-border-color);
  background-color: rgba(190, 204, 245, 1);
}
@media (min-width: 480px) {
  #app {
    padding: 8px;
  }
  H1 {
    padding: 0 16px 16px;
  }
  .description {
    padding: 16px;
    width: 84%;
  }
  .display {
    font-size: 2rem;
  }
  .mainFrame {
    width: 90%;
  }
  .mainFrame__input {
    max-width: 1440px;
    max-width: 87%;
    min-width: 87%;
    padding: 16px;
    border-radius: 10px;
    margin: 16px;
  }
  .mainFrame__suggestions {
    width: 84%;
  }
  .mainFrame__content {
    width: 84%;
  }
  .showspace {
    width: 100%;
    max-width: 1440px;
  }
  .showspace__tile {
    padding: 16px;
    width: 40%;
    margin: 15px;
  }
}

